In [4]:
import pandas as pd

In [8]:
high_schools=["Hernandez High School", "Figueroa High School", "Wilson High School","Wright High School"]

In [33]:
school_series=pd.Series(high_schools)

In [34]:
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [11]:
print(f"{high_schools}")

['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

In [12]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [14]:
for school in high_schools
    print(school)

SyntaxError: invalid syntax (1031717357.py, line 1)

In [23]:
#a dictionary of high schools and the type of school
high_school_types=[{'High School':'Griffin','Type':'District'},
                   {'High School':'Figueroa','Type':'District'},
                   {'High School': 'Wilson','Type':'Charter'},
                   {'High School':'Wright','Type':'Charter'}]

In [30]:
high_school_types[-2:]

[{'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [18]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [19]:
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [20]:
school_df=pd.DataFrame(high_school_dicts)

In [21]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

In [23]:
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

In [24]:
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [25]:
#Initialize a new DataFrame

In [26]:
schools_df =pd.DataFrame()

In [27]:
schools_df["School ID"] = [school_id]

In [28]:
schools_df

         School ID
0  [0, 1, 2, 3, 4]

In [29]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [30]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [31]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [33]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)